@model IEnumerable<OPWMVC.Models.Authorisation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Section_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Approval_Limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Work.OPW_Building_Code)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Section_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Approval_Limit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Work.OPW_Building_Code)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuthorisationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuthorisationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuthorisationId })
        </td>
    </tr>
}

</table>
